# http://www.appveyor.com/docs/appveyor-yml

build: off
platform:
  - x86
  - x64
environment:
  matrix:
    - nodejs_version: '8'
    - nodejs_version: '10'
install:
  - ps: Install-Product node $env:nodejs_version x64
  - yarn install
test_script:
  - node --version
  - yarn --version
  - cmd: yarn test
